body {
	background-color: #E6E6E6;
}

.postfix.button { 
	background-color: rgba(9, 189, 189, 0.55);
	color: #E6E6E6; }

input[type="text"] { 
	background-color: #e6e6e6;
	border: 0 solid #cccccc;
	box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
 }

.lrgtxt {
	font-family: 'Lato', sans-serif;
	text-align: center;
	line-height: 0.8;
	font-size: 12em;
	@media #{$small-only} { font-size: 10em; }
}

.access { margin-top: 1.5em; }

/* Contains all text in layer one */
.textb {
	margin-top: 1.5em;
	position: relative;
	z-index: 99;


	/* Selects by line */
	.line1 {
		letter-spacing: 0.03em;	
	}
	.line3 {
		letter-spacing: 0.07em;
	}
	.line4 {
		letter-spacing: 0.1em;
	}


	/* Selects by word, alternating  */
	.c1 {
		color: transparent;
		text-shadow: 0 0 0.65px rgba(189, 9, 9, 0.55);
	}
	.c2 {
		color: transparent;
		text-shadow: 0 0 0.65px rgba(9, 189, 189, 0.55);
	}
}


/* Contains all text in layer two */
.texta {
	margin-top: -50.5em;
	@media #{$small-only} { margin-top: -34.5em; }
	position: relative;
	z-index: 0;


	/* Selects all text */
	.lrgtxt {
		-webkit-transform:rotateY(180deg);
  		-moz-transform:rotateY(180deg);
  		-o-transform:rotateY(180deg);
  		-ms-transform:rotateY(180deg);
		background-color: #CCCCCC;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		color: transparent;
		text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	}


	/* Selects by line */
	.line1 {
		letter-spacing: 0.03em;	
	}
	.line3 {
		letter-spacing: 0.07em;
	}
	.line4 {
		letter-spacing: 0.1em;
	}

}