body {
	background-color: #E6E6E6;
}

/* Contains all text in layer one */
.textb {
	margin-top: 1.5em;
	position: relative;
	z-index: 99;

	/* Selects all text */
	.lrgtxt {
		font-family: 'Lato', sans-serif;
		font-size: 12em;
		text-align: center;
		line-height: 0.8;
	}


	/* Selects by line */
	.line1 {
		letter-spacing: 0.03em;	
	}
	.line3 {
		letter-spacing: 0.07em;
	}
	.line4 {
		letter-spacing: 0.1em;
	}


	/* Selects by word, alternating  */
	.c1 {
		color: transparent;
		text-shadow: 0 0 0.65px rgba(189, 9, 9, 0.55);
	}
	.c2 {
		color: transparent;
		text-shadow: 0 0 0.65px rgba(9, 189, 189, 0.55);
	}
}


/* Contains all text in layer two */
.texta {
	margin-top: -50.5em;
	position: relative;
	z-index: 0;


	/* Selects all text */
	.lrgtxt {
		font-family: 'Lato', sans-serif;
		font-size: 12em;
		text-align: center;
		line-height: 0.8;
		-webkit-transform:rotateY(180deg);
  		-moz-transform:rotateY(180deg);
  		-o-transform:rotateY(180deg);
  		-ms-transform:rotateY(180deg);
		background-color: #CCCCCC;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		color: transparent;
		text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	}


	/* Selects by line */
	.line1 {
		letter-spacing: 0.03em;	
	}
	.line3 {
		letter-spacing: 0.07em;
	}
	.line4 {
		letter-spacing: 0.1em;
	}

}