body {
	background-color: #E6E6E6;
}

/* BOTH TEXT LAYERS */

/* Universal Styles */
.lrgtxt {
	font-family: 'Lato', sans-serif;
	line-height: 0.8;
	font-size: 4em;
	margin-left: -0.05em;
	@media #{$medium-only} { font-size: 8em; }
	@media #{$large-up} { font-size: 11em; }
}

/* Selects and spaces by line */
.line1 {
	letter-spacing: 0.02em;	
}
.line2 {
	letter-spacing: 0.1em;
}
.line3 {
	letter-spacing: 0.05em;
}


/* TOP LAYER */
.textb {
	margin-top: 1.5em;
	position: relative;
	z-index: 99;


	/* Selects by word, changes color  */
	.c1 {
		color: transparent;
		text-shadow: 0 0 0.65px rgba(189, 9, 9, 0.55);
	}
	.c2 {
		color: transparent;
		text-shadow: 0 0 0.65px rgba(9, 189, 189, 0.55);
	}
	.c3 {
		color: transparent;
		text-shadow: 0 0 0.65px rgba(99, 9, 189, 0.55);
	}
}


/* BOTTOM LAYER */
.texta {
	margin-top: -14.75em;
	@media #{$medium-only} { margin-top: -27.5em; }
	@media #{$large-up} { margin-top: -37em; }
	position: relative;
	z-index: 0;


	/* Flips text and adds true inset */
	.lrgtxt {
		text-align: right;
		-webkit-transform:rotateY(180deg);
  		-moz-transform:rotateY(180deg);
  		-o-transform:rotateY(180deg);
  		-ms-transform:rotateY(180deg);
		background-color: #CCCCCC;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		color: transparent;
		text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	}

	/* Adjusts for transform margin */
	.line3, .line4 { margin-right: -1em;}

}

/* ACCESS CODE INPUT & DON'T HAVE TEXT */
.access { 
	margin-top: 2em;
	@media #{$small-only} {float: left !important;}

	text-align: center;
}

 .dontHave {
 	font-size: 0.75em;
 }

.postfix.button { 
	background-color: rgba(9, 189, 189, 0.55);
	color: #E6E6E6; 
}

input[type="text"] { 
	background-color: #e6e6e6;
	border: 0 solid #cccccc;
	box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
 }

 /* Popup */
 #wrongCode {
 	width: 30%;
 	margin: 0px auto;
 	left: 35%;
 	p {text-align: center;}
 	a {color:rgba(99, 9, 189, 0.55);}
 	background-color: #e6e6e6;
 }

 .sneakPeek { 
 	opacity: 0;
 	line-height: 2em;
 	transition: opacity .5s ease-in;
 	-moz-transition: opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
 }


 /* RESUME PAGE */

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/* Sets height of header and overlay */
$headheight: 40em;

.header {
	background: url(../images/banr.jpg) no-repeat left bottom;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: $headheight;
	border-width: 5px;
  border-bottom: 5px rgba(9, 189, 189, .9) solid;
}

.overlay {
	background-color: rgba(0,0,0,.5);
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	border-width: 5px;
  border-bottom: 5px rgba(9, 189, 189, .9) solid;
}

.navigation {
	background-color: rgba(0,0,0,.2);
	height: 5em;
	@media #{$small-only} { height: 3em; }
	position: fixed;
	top:0;
	left: 0;
	z-index: 3;

	a {
		color: white;
		float: right;
	}

	.navleft {
		a {float: none;}
	}

	.menulink {
		padding-top: 1em;
	}

	h3 {
		padding-top: 3%;
		color: white;
	}

	.navright {
		ul {
			text-align: right;
			float: clear;
		}

		li { 
			color: white;
			float: right;
			padding-top: 3%;
			padding-right: 1em;
			font-size: 90%;
		}
	}
}

 .greeting { 
 	margin-top: 27%;
 	text-align: justify;
 	padding: 2em 0 1em 0;
 	position: relative;
 	z-index: 2;
 	h2, h3 { 
 		text-align: justify;
 		background-color: rgba(9, 189, 189, .9);
 		padding: 0 1em 0 15%;
 		color: white;
 	}
 }

.content {
	margin-top: 5em;
	padding-left: 2em;
	@media #{$large-only} {padding-left: 5em;}
	@media #{$medium-only} { h1 { font-size: 2em;}}
	h1 { font-weight: bold; }

	p {
		text-align: justify;
		margin-top: 1em;
	}
}

#contact {
	margin-bottom: 4em;
}

.footer {
	text-align: center;
	padding: 2em;
	color: #E6E6E6;
	letter-spacing: 1px;
	background-color: rgba(9, 189, 189, .9);
}

.subheader {
	padding-top: .5em;
}

h4 { padding-top: 1em;}

h6 {padding-top: 1em;}

.push {height: 15em;}

ul {
	list-style-type: none;
	.fa {
		font-size: 1.5em;
		margin-left: -.5em;
	}
}
